
.rootCanvas {
	-fx-background-color: #ffffff;
	-fx-border-width: 0;
	-fx-border-color: #000000;

}

.agentSelected {
	-fx-stroke: green;
	-fx-stroke-width: 4;
	-fx-stroke-dash-array: 12 2 4 2;
	-fx-stroke-dash-offset: 2;
	-fx-stroke-line-cap: butt;
}
